<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://localhost:8005/main.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <title>Sinau.id</title>
</head>
<body>
  <%- include('partials/navbar.ejs')%>
  <br>
  <div>
    <h3>Course Content</h3>
    <p>from the admin</p>
    <br>
    <a href="/adminAddForm" class="btn btn-secondary">Add Course</a>
  </div>
  <table class="table" border="1">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Course Name</th>
        <th scope="col">Release Year</th>
        <th scope="col">Duration</th>
        <th scope="col">Price</th>
        <th scope="col">Discount</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <%for (let i = 0; i < data.length; i++) { %>
        <tr>
          <td><%= data[i].id %></td>
          <td><%= data[i].course_name %></td>
          <td><%= data[i].release_year %></td>
          <td><%= data[i].duration %></td>
          <td><%= data[i].price %></td>
          <td><%= data[i].getDiscount() %></td>
          <td>
            <a href="/editForm/<%= data[i].id %>" class="btn btn-primary">Edit</a>
            <a href="/deleteData/<%= data[i].id %>" class="btn btn-primary">Delete</a>
          </td>
        </tr>
      <%}%>
    </tbody>
  </table>
</body>
</html>